{{#if subpage}}
<section class="hero hero--{{type}}">
{{else}}
<header class="hero hero--{{type}}">
{{/if}}

  <div class="hero__media">
    <figure>
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-1_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-1_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-1_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-1_placeholder.jpg" data-srcset="/assets/images/article-1-1_placeholder.jpg" alt="">
      </picture>
    </figure>
  </div>
  <div class="hero__content">
    <div class="hero__inner">
      {{#if overline}}
      <p class="overline">{{overline}}</p>
      {{/if}}
      {{#if subpage}}
        <a class="hero__title-link" href="#"><h2>{{#if headline}}{{headline}}{{else}}Water terrifies me. Here’s how I took the plunge.{{/if}}</h2></a>
      {{else}}
        <h1>{{#if headline}}{{headline}}{{else}}Water terrifies me. Here’s how I took the plunge.{{/if}}</h1>
      {{/if}}
      <p>When we read them, books take us away from our lives. Years later, they’re vehicles for telling our own stories.</p>
      <address>
        <p>By <a href="#">Joan Anderman</a></p>
        <p>Photos by <a href="#">Gretchen Ertl</a></p>
      </address>
    </div>
  </div>
{{#if subpage}}
</section>
{{else}}
</header>
{{/if}}