<div class="tz tz--mid {{#if recircclass}}{{recircclass}}{{/if}}">
  <div class="tz__content">
  {{#if overline}}
    {{#if overline-link}}<a href="#" class="btn--primary overline"><p>{{overline}}</p></a>{{else}}<p class="overline">{{overline}}</p>{{/if}}
  {{/if}}
  <a href="#" class="tz__link">
    <h3 class="tz__hed">{{headline}}</h3>
  </a>
    <p class="tz__copy">When we read them, books take us away from our lives. Years later, they’re vehicles for telling our own stories.</p>
    {{#if byline}}
    <address class="byline">{{#if outside-ref}}Via <a href="#">{{outside-ref}}</a>{{else}}By Toussaint L'Overture{{/if}}</address>
    {{/if}}
  </div>
  <a href="#" class="tz__link tz__media">
  <figure class="tz__figure">
    <picture class="tz__img">
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
    </picture>
  </figure>
  </a>
</div>